name: Benchmark

on:
  pull_request:
  push:
    branches:
      - "main"
  schedule:
    - cron: '0 0 * * *'

jobs:
  run_benchmarks:
    runs-on: 'ubuntu-22.04'
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        include:
          - name: "processes_1"
            asv-args: "-a processes=1"
          - name: "no_interleave"
            asv-args: "--no-interleave-processes"
          - name: "default"
            asv-args: "--interleave-processes -a processes=2"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Pull Changes
        if: github.event_name != 'pull_request'
        run: git pull origin
      - name: Install Requirements
        run: pip install -r requirements.txt
      - name: Cache Django
        uses: actions/cache@v3
        with:
          path: Django/*
          key: Django
      - name: Run Benchmarks
        shell: bash -l {0}
        run: |-
          asv machine --machine ubuntu-22.04 --yes
          set +e
          asv continuous ${{ matrix.asv-args }} --split --show-stderr 'HEAD^' 'HEAD'
          set -e
      - name: Commit results
        if: github.event_name != 'pull_request'
        run: |
          git config user.name "Github Bot"
          git config user.email "results_bot@github.com"
          git add -f results/*
          git commit -m "Results for ubuntu-22.04 added [skip ci]"
          git push origin

  call_publish_results_workflow:
      needs: run_benchmarks
      if: github.event_name != 'pull_request'
      uses: smithdc1/django-asv/.github/workflows/publish-results.yml@main
